body {
    background-color: #F0F0FF;
}
div {
    /*background-color: #F0F0FF; /*light*/
    margin: 0 2px;
    font-size: 1.3em;
    border: 3px solid rgba(150, 150, 255, 0.9);
    border-style: outset;
    border-radius: 10px;
    padding: 15px;
    background-image: linear-gradient(to bottom, ##569ee6, #2874d8); /* #ABCFF3 #569ee6*/
}

div:nth-child(odd) {
    background-color: rgba(177, 173, 174, 0.15); /*dark */
}

.home {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 10px;
    appearance: none;
    box-shadow: 5px 5px 5px 0px rgba(255,255,255,0.5) inset;
    background-image: linear-gradient(to bottom, #5E63E9, #061AFA); /*#77a2b5, #005275*/
    outline: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home:hover {
    cursor: pointer;
};